/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  font-family: 'Playfair Display', serif;
}

.main {
  text-align: center;
  font-size: 20px;
}

.section {
  margin-left: 15%;
  
  .content {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 40%;
    height: 550px;
    vertical-align: top;
    text-align: left;

    ul {
      list-style: none; 
    }
  }

  .right {
    background-image: url('http://placekitten.com/g/426/550');
  }
}


